:root,
::after,
::before {
    --main-bg-gradient: linear-gradient(87.25deg, #FFA825 -11.51%, #FF70D7 114.56%);

    --body-bg-color: #f2f6ff;

    --header-nav-text-color: #fff;
    --header-nav-container-bg-color: #3f202099;

    --search-box-bg-color: #fff;
    --search-box-color: #000;
    --search-box-button-color: #fff;
    --top-h1-color: #fff;

    --cart-dropdown-price-color: #e3e8ff;
    --view-cart-btn-bg-color: #3f202099;

    --department-section-toggle-btn-border-color: #3913b8;
    --department-section-toggle-btn-bg-color: #f2f6ff;
    --department-section-toggle-btn-fill-bg-color: #b699ff;
    --department-section-toggle-btn-fill-color: #fff;

    --department-section-title-alt-text-bg-color: #3f202088;
    --department-section-title-alt-text-color: #fff;

    --department-section-course-tag-bg-color: #ff51b1;
    --department-section-course-tag-color: #fff;

    --testimonial-section-card-bg-color: #3f0e4790;
    --testimonial-section-card-color: #fff;

    --faq-section-card-bg-color: #fff;
    --faq-section-card-color: #000;
    --faq-section-card-title-color: #3913b8;

    --about-us-counts-color: #000;

    --select-color: #000;
    --select-input-bg-color: #fff;
    --select-list-bg-color: #fff;
    --select-list-li-hover-bg-color: #d8d8d888;
    --select-list-li-selected-bg-color: #d1d1d1;
}

[theme="default_light"],
[theme="default_light"]::after,
[theme="default_light"]::before {
}

[theme="default_dark"],
[theme="default_dark"]::after,
[theme="default_dark"]::before {
}
