:root {
    --topOffset: 0%;
    --rightOffset: 0%;
    --minWidth: 2020px;
    scrollbar-color: #888 transparent !important;
    scrollbar-width: thin !important;
}

@font-face { font-family: "IranYekanWebRegular"; src: url("~/assets/fonts/IranYekanWebRegular.woff2") format("woff2"); }
@font-face { font-family: "IranYekanWebRegularFaNum"; src: url("~/assets/fonts/IranYekanWebRegularFaNum.woff2") format("woff2"); }
@font-face { font-family: "KalamehWebBlack"; src: url("~/assets/fonts/KalamehWebBlack.woff2") format("woff2"); }
@font-face { font-family: "KalamehWebBold"; src: url("~/assets/fonts/KalamehWebBold.woff2") format("woff2"); }

*::-moz-selection { background: #414141; color: white; }
*::selection { background: #414141; color: white; }

*::-webkit-scrollbar-track { background-color: transparent; border-radius: 0px; -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01); }
*::-webkit-scrollbar { margin-inline-start: 0.25em; width: 10px; height: 10px; border-radius: 0px; -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01); }
*::-webkit-scrollbar-track-piece { background-color: transparent; border-radius: 0px; }
*::-webkit-scrollbar-thumb { background: #625e59; border-radius: 0px; -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); }

*, html {
    font-family: "IranYekanWebRegular", "IranYekanWebRegularFaNum";
    scroll-behavior: smooth;
    transition: all 0.15s;
    outline: none;
}
body {
    position: relative;
    width: 100vw; margin: 0 auto; overflow-x: hidden;
    display: flex; flex-direction: column;
    margin: 0 auto; padding: 0;
}

.kalameh_black { font-family: "KalamehWebBlack" !important; word-spacing: 2px !important; }
.kalameh_bold { font-family: "KalamehWebBold" !important; word-spacing: 2px !important; }

.-z-1{ z-index: -1; }

.shadow-big { box-shadow: 0px 15px 15px rgba(0,0,0,7%); }
.shadow-small { box-shadow: 0px 10px 10px rgba(0,0,0,5%); }

.dashboard_body {
    /* width: 100%; */
    width: 10px;
    flex-grow: 1;
    max-height: 100%;
}

.article_body p {
    margin: .5rem 0 !important;
}

.title,.title2 { position: relative; z-index: 1; }
.title::before,.title2::before {
    content: ""; background-color: #fabd96;
    position: absolute; right: 10%; bottom: -4px;
    border-radius: 99px; z-index: -1;
    width: 100%; height: 14px;
}
.title2::before { right: -15%; }

.check-enter-active, .check-leave-active { transition: all 0.2s; }
.check-enter, .check-leave-to { transform: scale(0, 0); }

.accordiondown-enter-active, .accordiondown-leave-active { height: max-content; overflow: hidden; transform-origin: top; transition: all 0.3s; }
.accordiondown-enter, .accordiondown-leave-to { padding: 0 !important; height: 0; opacity: 0; transform: translateY(-30px) scaleY(0); }

.slidedown-enter-active, .slidedown-leave-active { transition: all 0.3s; }
.slidedown-enter, .slidedown-leave-to { opacity: 0; transform: translateY(-30px); }

.slideup-enter-active,
.slideup-leave-active { transition: all 0.3s; }
.slideup-enter, .slideup-leave-to { opacity: 0; transform: translateY(30px); }

.slideleft-enter-active,
.slideleft-leave-active { transition: all 0.3s; }
.slideleft-enter, .slideleft-leave-to { opacity: 0; transform: translateX(30px); }

.fade-enter-active, .fade-leave-active { transition: all 0.25s ease; }
.fade-enter, .fade-leave-to { opacity: 0; }

.page-enter-active, .page-leave-active { transition: all 0.5s; }
.page-enter, .page-leave-to { opacity: 0; }

.orange_gradient_v {
    color: #fff; transition: all .3s;
    background: linear-gradient(87.25deg, #FFA825 -11.51%, #FF70D7 114.56%);
}

.orange_gradient_h {
    position: relative; z-index: 1;
    color: #fff; overflow: hidden;
    background: linear-gradient(142.39deg, #ff8537 0%, #ff51b1 100.15%);
    /* background: linear-gradient(87.25deg, #FFA825 -11.51%, #FF70D7 114.56%); */
}
.orange_gradient_h::before{
    content: "";
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(273.67deg, #ff8537 -20.26%, #ff51b1 114.54%);
    /* background: linear-gradient(87.25deg, #FFA825 -11.51%, #FF70D7 114.56%); */
    opacity: 0; transition: opacity 0.4s; z-index: -1;
}
.orange_gradient_h:hover::before{ opacity: 1; }

.orange_text_gradient{
    background: -webkit-linear-gradient(87.25deg, #FFA825 -11.51%, #FF70D7 114.56%);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    line-height: inherit;
}

.gray_gradient {
    color: #fff;
    background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
}
.redgray_background {
    background: #3F202080;
}
.darkblue_gradient {
    color: #fff;
    background: linear-gradient(0deg, rgba(19, 40, 80, 0.8), rgba(19, 40, 80, 0.8));
}

.spacer_h {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, #e0af8b 49.48%, rgba(255, 255, 255, 0.13) 100%);
}
.spacer_v {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.14) 0%, #e0af8b 49.48%, rgba(255, 255, 255, 0.13) 100%);
}

.progress_bar > div{
    background: linear-gradient(135deg, #ff8537 0%, #ffdcc6 100%);
	background-size: 200% 200%; margin-inline-start: -1px;
	animation: progress_bar_gradient 2s ease infinite;
}
@keyframes progress_bar_gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.skeleton {
    background: linear-gradient(90deg, #ffffff22 0%, #cccccc99 50%, #ffffff22 100%);
    background-size: 200% 200%;
    border-radius: 6px;
    animation: shimmer_skeleton 2s infinite;
}
@keyframes shimmer_skeleton {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.portalGirl {
    animation: float 3s ease infinite;
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0); }
}

.swiper-pagination-bullet-active {
    background-color: #ff8537 !important;
}

.video-js .vjs-big-play-button {
    background-color: transparent;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    border: none !important;
    box-shadow: none !important;
}
.video-js .vjs-big-play-button:before {
    content: "" !important;
    background-image: url("~/static/misc/play.svg");
    background-repeat: no-repeat; background-size: 46px;
    background-position: calc(50% - -2px) calc(50%);
    width: 5rem; height: 5rem;
    border-radius: 50%;
    background-color: #534e48aa;
    padding: 3.5rem;
    display: flex;
    margin: auto;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "" !important;
    display: none !important;
}
.video-js .vjs-big-play-button:hover {
    background-color: transparent;
}

.raychat_main_button.right { right: 1rem !important; }
.raychat_main_button.left { left: 1rem !important; }
.raychat_main_button.top { top: 1rem !important; }
.raychat_main_button.bottom { bottom: 1rem !important; }

div[role="alert"] { display: none !important; }
