:root{
    --topOffset: 0%;
    --rightOffset: 0%;
    --minWidth: 2020px;
}

@font-face { font-family: "IranYekanWebRegular"; src: url("~/assets/fonts/IranYekanWebRegular.ttf") format("truetype"); }
@font-face { font-family: "IranYekanWebRegularFaNum"; src: url("~/assets/fonts/IranYekanWebRegularFaNum.woff") format("woff"); }
@font-face { font-family: "KalamehWebRegular"; src: url("~/assets/fonts/KalamehWebRegular.woff2") format("woff2"); }
@font-face { font-family: "KalamehWebBold"; src: url("~/assets/fonts/KalamehWebBold.woff2") format("woff2"); }

*::-moz-selection { background: #414141; color: white; }
*::selection { background: #414141; color: white; }

*::-webkit-scrollbar-track {
    background-color: transparent; border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01);
}
*::-webkit-scrollbar {
    margin-inline-start: 0.25em;
    width: 10px; height: 10px; border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.01);
}
*::-webkit-scrollbar-track-piece { background-color: transparent; border-radius: 0px; }
*::-webkit-scrollbar-thumb {
    background: #ff6978; border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

*,html{
    font-family: "IranYekanWebRegular","IranYekanWebRegularFaNum";
    scroll-behavior: smooth;
    transition: all .15s;
}
body{
    text-shadow: 0px 1px 3px #00000044;
}

.kalameh { font-family: "KalamehWebRegular" !important; }
.kalameh_bold { font-family: "KalamehWebBold" !important; }

.slidedown-enter-active, .slidedown-leave-active { transition: all 0.3s; }
.slidedown-enter, .slidedown-leave-to { opacity: 0; transform: translateY(-30px); }

.slideup-enter-active, .slideup-leave-active { transition: all 0.3s; }
.slideup-enter, .slideup-leave-to { opacity: 0; transform: translateY(30px); }

.slideleft-enter-active,.slideleft-leave-active{ transition: all .3s; }
.slideleft-enter,.slideleft-leave-to{ opacity: 0; transform: translateX(30px); }

.fade-enter-active, .fade-leave-active{ transition: all .25s ease; }
.fade-enter, .fade-leave-to{ opacity: 0; }

.page-enter-active, .page-leave-active { transition: all 0.5s; }
.page-enter, .page-leave-to { opacity: 0; }

.orange_gradient_v{
    color: #fff;
    background: linear-gradient(273.67deg, #FF8537 -20.26%, #FF51B1 114.54%);
}
.orange_gradient_h{
    color: #fff;
    background: linear-gradient(142.39deg, #FF8537 0%, #FF51B1 100.15%);
}
.gray_gradient{
    color: #fff;
    background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
}
.darkblue_gradient{
    color: #fff;
    background: linear-gradient(0deg, rgba(19, 40, 80, 0.8), rgba(19, 40, 80, 0.8));
}

.blur {
    position: relative; z-index: 2;

    /* -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0); */
}
.blur::before {
    content: ""; border-radius: inherit; z-index: -1;
    position: absolute; inset: 0;
    /* backdrop-filter: blur(15px); */
}

.skeleton{
    background: linear-gradient(90deg, #ffffff22 0%, #cccccc99 50%, #ffffff22 100%);
    background-size: 200% 200%;
    animation: shimmer_skeleton 2s infinite;
}
@keyframes shimmer_skeleton {
    0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}